/****** Object:  ForeignKey [FK_BankBranch_Banks]    Script Date: 04/16/2013 20:05:47 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BankBranch_Banks]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankBranch]'))
ALTER TABLE [dbo].[BankBranch] DROP CONSTRAINT [FK_BankBranch_Banks]
GO
/****** Object:  ForeignKey [FK_PayrollItems_PayrollItemType]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PayrollItems_PayrollItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PayrollItems]'))
ALTER TABLE [dbo].[PayrollItems] DROP CONSTRAINT [FK_PayrollItems_PayrollItemType]
GO
/****** Object:  ForeignKey [FK_PayslipDet_TaxTracking]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PayslipDet_TaxTracking]') AND parent_object_id = OBJECT_ID(N'[dbo].[PayslipDet]'))
ALTER TABLE [dbo].[PayslipDet] DROP CONSTRAINT [FK_PayslipDet_TaxTracking]
GO
/****** Object:  ForeignKey [FK_Settings_SettingsGroup]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Settings_SettingsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[Settings]'))
ALTER TABLE [dbo].[Settings] DROP CONSTRAINT [FK_Settings_SettingsGroup]
GO
/****** Object:  StoredProcedure [dbo].[CopyPayslipDet]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPayslipDet]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CopyPayslipDet]
GO
/****** Object:  View [dbo].[GetEmpTransactions]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[GetEmpTransactions]'))
DROP VIEW [dbo].[GetEmpTransactions]
GO
/****** Object:  View [dbo].[vwBankBranches]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwBankBranches]'))
DROP VIEW [dbo].[vwBankBranches]
GO
/****** Object:  View [dbo].[vwPayrollMaster]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayrollMaster]'))
DROP VIEW [dbo].[vwPayrollMaster]
GO
/****** Object:  View [dbo].[vwPayrollMaster_Temp]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayrollMaster_Temp]'))
DROP VIEW [dbo].[vwPayrollMaster_Temp]
GO
/****** Object:  View [dbo].[vwPayslipDet]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayslipDet]'))
DROP VIEW [dbo].[vwPayslipDet]
GO
/****** Object:  View [dbo].[vwPayslipDet_Temp]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayslipDet_Temp]'))
DROP VIEW [dbo].[vwPayslipDet_Temp]
GO
/****** Object:  StoredProcedure [dbo].[CopyPayMaster]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPayMaster]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CopyPayMaster]
GO
/****** Object:  Table [dbo].[PayslipDet]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipDet]') AND type in (N'U'))
DROP TABLE [dbo].[PayslipDet]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Settings]') AND type in (N'U'))
DROP TABLE [dbo].[Settings]
GO
/****** Object:  Table [dbo].[BankBranch]    Script Date: 04/16/2013 20:05:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankBranch]') AND type in (N'U'))
DROP TABLE [dbo].[BankBranch]
GO
/****** Object:  Table [dbo].[PayrollItems]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayrollItems]') AND type in (N'U'))
DROP TABLE [dbo].[PayrollItems]
GO
/****** Object:  Table [dbo].[PayrollItemType]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayrollItemType]') AND type in (N'U'))
DROP TABLE [dbo].[PayrollItemType]
GO
/****** Object:  Table [dbo].[Payrolls]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payrolls]') AND type in (N'U'))
DROP TABLE [dbo].[Payrolls]
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 04/16/2013 20:05:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Banks]') AND type in (N'U'))
DROP TABLE [dbo].[Banks]
GO
/****** Object:  Table [dbo].[Benefits]    Script Date: 04/16/2013 20:05:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Benefits]') AND type in (N'U'))
DROP TABLE [dbo].[Benefits]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04/16/2013 20:05:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 04/16/2013 20:05:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Employee_Ext]    Script Date: 04/16/2013 20:05:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee_Ext]') AND type in (N'U'))
DROP TABLE [dbo].[Employee_Ext]
GO
/****** Object:  Table [dbo].[Employee_Ext_Fields]    Script Date: 04/16/2013 20:05:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee_Ext_Fields]') AND type in (N'U'))
DROP TABLE [dbo].[Employee_Ext_Fields]
GO
/****** Object:  Table [dbo].[EmployeeTransactions]    Script Date: 04/16/2013 20:05:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[EmployeeTransactions]
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employer]') AND type in (N'U'))
DROP TABLE [dbo].[Employer]
GO
/****** Object:  Table [dbo].[EmpNonCashBenefits]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmpNonCashBenefits]') AND type in (N'U'))
DROP TABLE [dbo].[EmpNonCashBenefits]
GO
/****** Object:  Table [dbo].[SettingsGroup]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SettingsGroup]') AND type in (N'U'))
DROP TABLE [dbo].[SettingsGroup]
GO
/****** Object:  Table [dbo].[spUsers]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spUsers]') AND type in (N'U'))
DROP TABLE [dbo].[spUsers]
GO
/****** Object:  Table [dbo].[TaxTracking]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxTracking]') AND type in (N'U'))
DROP TABLE [dbo].[TaxTracking]
GO
/****** Object:  Table [dbo].[TransactionDef]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionDef]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionDef]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
DROP TABLE [dbo].[Transactions]
GO
/****** Object:  Table [dbo].[TxnType]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TxnType]') AND type in (N'U'))
DROP TABLE [dbo].[TxnType]
GO
/****** Object:  Table [dbo].[PayslipDet_Temp]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipDet_Temp]') AND type in (N'U'))
DROP TABLE [dbo].[PayslipDet_Temp]
GO
/****** Object:  Table [dbo].[PayslipMaster]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipMaster]') AND type in (N'U'))
DROP TABLE [dbo].[PayslipMaster]
GO
/****** Object:  Table [dbo].[PayslipMaster_Temp]    Script Date: 04/16/2013 20:05:51 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipMaster_Temp]') AND type in (N'U'))
DROP TABLE [dbo].[PayslipMaster_Temp]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 04/16/2013 20:05:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Accounts]') AND type in (N'U'))
DROP TABLE [dbo].[Accounts]
GO
/****** Object:  Table [dbo].[HourlyPayment]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HourlyPayment]') AND type in (N'U'))
DROP TABLE [dbo].[HourlyPayment]
GO
/****** Object:  Table [dbo].[LeaveTransactions]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LeaveTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[LeaveTransactions]
GO
/****** Object:  Table [dbo].[NHIFRates]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHIFRates]') AND type in (N'U'))
DROP TABLE [dbo].[NHIFRates]
GO
/****** Object:  Table [dbo].[PackedTransactions]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PackedTransactions]') AND type in (N'U'))
DROP TABLE [dbo].[PackedTransactions]
GO
/****** Object:  Table [dbo].[PayeeRates]    Script Date: 04/16/2013 20:05:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayeeRates]') AND type in (N'U'))
DROP TABLE [dbo].[PayeeRates]
GO
/****** Object:  Table [dbo].[PayeeRates]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayeeRates]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayeeRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromAmt] [money] NOT NULL,
	[ToAmt] [money] NOT NULL,
	[Rate] [smallmoney] NOT NULL,
 CONSTRAINT [PK_PayeeRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[PayeeRates] ON
INSERT [dbo].[PayeeRates] ([Id], [FromAmt], [ToAmt], [Rate]) VALUES (25, 0.0000, 10164.0000, 10.0000)
INSERT [dbo].[PayeeRates] ([Id], [FromAmt], [ToAmt], [Rate]) VALUES (26, 10165.0000, 19741.0000, 15.0000)
INSERT [dbo].[PayeeRates] ([Id], [FromAmt], [ToAmt], [Rate]) VALUES (27, 19741.0000, 29317.0000, 20.0000)
SET IDENTITY_INSERT [dbo].[PayeeRates] OFF
/****** Object:  Table [dbo].[PackedTransactions]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PackedTransactions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PackedTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PackDate] [datetime] NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TxnCode] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Amount] [smallmoney] NOT NULL,
	[CreatedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Authorized] [bit] NULL,
 CONSTRAINT [PK_PackedTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[NHIFRates]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHIFRates]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NHIFRates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FromAmt] [money] NOT NULL,
	[ToAmt] [money] NOT NULL,
	[Rate] [smallmoney] NOT NULL,
 CONSTRAINT [PK_NHIFRates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[NHIFRates] ON
INSERT [dbo].[NHIFRates] ([Id], [FromAmt], [ToAmt], [Rate]) VALUES (49, 1000.0000, 1499.0000, 30.0000)
INSERT [dbo].[NHIFRates] ([Id], [FromAmt], [ToAmt], [Rate]) VALUES (50, 1500.0000, 1999.0000, 40.0000)
INSERT [dbo].[NHIFRates] ([Id], [FromAmt], [ToAmt], [Rate]) VALUES (51, 2000.0000, 2999.0000, 60.0000)
SET IDENTITY_INSERT [dbo].[NHIFRates] OFF
/****** Object:  Table [dbo].[LeaveTransactions]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LeaveTransactions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[LeaveTransactions](
	[Id] [int] NOT NULL,
	[PostDate] [date] NULL,
	[EffectiveDate] [date] NULL,
	[LeaveDesc] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NoofDays] [int] NULL,
 CONSTRAINT [PK_LeaveTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[HourlyPayment]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HourlyPayment]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HourlyPayment](
	[Empno] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[WorkDate] [date] NOT NULL,
	[WorkHours] [int] NOT NULL,
	[RatePerHour] [money] NOT NULL,
 CONSTRAINT [PK_HourlyPayment_1] PRIMARY KEY CLUSTERED 
(
	[Empno] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 04/16/2013 20:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Accounts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[AccountType] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BookBalance] [money] NOT NULL,
 CONSTRAINT [PK_Accounts] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[PayslipMaster_Temp]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipMaster_Temp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayslipMaster_Temp](
	[Period] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PrintedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PrintedOn] [datetime] NOT NULL,
	[EmpName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayPoint] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PIN] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NHIFNo] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NSSFNo] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Department] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmpGroup] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmpPayroll] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CompName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CompAddr] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompTel] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayeTax] [decimal](18, 0) NOT NULL,
	[BasicPay] [decimal](18, 0) NOT NULL,
	[Benefits] [decimal](18, 0) NOT NULL,
	[Variables] [decimal](18, 0) NOT NULL,
	[OtherDeductions] [decimal](18, 0) NOT NULL,
	[GrossTaxableEarnings] [decimal](18, 0) NOT NULL,
	[NetTaxableEarnings] [decimal](18, 0) NOT NULL,
	[MortgageRelief] [decimal](18, 0) NOT NULL,
	[GrossTax] [decimal](18, 0) NOT NULL,
	[PersonalRelief] [decimal](18, 0) NOT NULL,
	[PensionEmployer] [decimal](18, 0) NOT NULL,
	[EmployerNSSF] [decimal](18, 0) NOT NULL,
	[PensionEmployee] [decimal](18, 0) NOT NULL,
	[BankBranch] [nchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Account] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NSSF] [decimal](18, 0) NOT NULL,
	[NHIF] [decimal](18, 0) NOT NULL,
	[NetPay] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PayslipMaster_Temp] PRIMARY KEY CLUSTERED 
(
	[Period] ASC,
	[Year] ASC,
	[EmpNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[PayslipMaster]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipMaster]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayslipMaster](
	[Period] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PaymentDate] [date] NOT NULL,
	[PrintedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PrintedOn] [datetime] NOT NULL,
	[EmpName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayPoint] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PIN] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NHIFNo] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NSSFNo] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Department] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmpGroup] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmpPayroll] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CompName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CompAddr] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CompTel] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayeTax] [decimal](18, 0) NOT NULL,
	[BasicPay] [decimal](18, 0) NOT NULL,
	[Benefits] [decimal](18, 0) NOT NULL,
	[Variables] [decimal](18, 0) NOT NULL,
	[OtherDeductions] [decimal](18, 0) NOT NULL,
	[GrossTaxableEarnings] [decimal](18, 0) NOT NULL,
	[NetTaxableEarnings] [decimal](18, 0) NOT NULL,
	[MortgageRelief] [decimal](18, 0) NOT NULL,
	[GrossTax] [decimal](18, 0) NOT NULL,
	[PersonalRelief] [decimal](18, 0) NOT NULL,
	[PensionEmployer] [decimal](18, 0) NOT NULL,
	[EmployerNSSF] [decimal](18, 0) NOT NULL,
	[PensionEmployee] [decimal](18, 0) NOT NULL,
	[BankBranch] [nchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Account] [nchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NSSF] [decimal](18, 0) NOT NULL,
	[NHIF] [decimal](18, 0) NOT NULL,
	[NetPay] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_PayslipMaster] PRIMARY KEY CLUSTERED 
(
	[Period] ASC,
	[Year] ASC,
	[EmpNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[PayslipDet_Temp]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipDet_Temp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayslipDet_Temp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmpTxnId] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Year] [int] NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TaxTracking] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[DEType] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsStatutory] [bit] NOT NULL,
	[ShowInPayslip] [bit] NULL,
	[YTD] [decimal](18, 0) NULL,
 CONSTRAINT [PK_PayslipDet_Temp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[TxnType]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TxnType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TxnType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_TxnType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transactions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Transactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PostDate] [datetime] NULL,
	[Amount] [money] NULL,
	[DRCR] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Narrative] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TxnType] [int] NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[TransactionDef]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionDef]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TransactionDef](
	[TxnCode] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DataEntry] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PayrollItem] [nchar](15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DefaultAmount] [smallmoney] NULL,
	[Enabled] [bit] NULL,
	[Recurrent] [bit] NULL,
	[TrackYTD] [bit] NULL,
 CONSTRAINT [PK_TransactionDef] PRIMARY KEY CLUSTERED 
(
	[TxnCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[TaxTracking]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TaxTracking]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TaxTracking](
	[TaxTrackingId] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_TaxTracking] PRIMARY KEY CLUSTERED 
(
	[TaxTrackingId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[TaxTracking] ([TaxTrackingId], [Description]) VALUES (N'COLLECTION', N'Collection for An Account')
INSERT [dbo].[TaxTracking] ([TaxTrackingId], [Description]) VALUES (N'DEDUCTIBLE', N'Tax deductible')
INSERT [dbo].[TaxTracking] ([TaxTrackingId], [Description]) VALUES (N'EARNING   ', N'Earning')
/****** Object:  Table [dbo].[spUsers]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[spUsers]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[spUsers](
	[UserId] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Role] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Locked] [bit] NULL,
 CONSTRAINT [PK_spUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[spUsers] ([UserId], [Password], [Role], [Locked]) VALUES (N'sys', N'sys', N'ADMINISTRATOR', 0)
/****** Object:  Table [dbo].[SettingsGroup]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SettingsGroup]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SettingsGroup](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Parent] [int] NOT NULL,
 CONSTRAINT [PK_SettingsGroup] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[SettingsGroup] ON
INSERT [dbo].[SettingsGroup] ([Id], [GroupName], [Parent]) VALUES (1, N'Setttings', 0)
INSERT [dbo].[SettingsGroup] ([Id], [GroupName], [Parent]) VALUES (2, N'Statutory Computations', 1)
INSERT [dbo].[SettingsGroup] ([Id], [GroupName], [Parent]) VALUES (3, N'General', 1)
SET IDENTITY_INSERT [dbo].[SettingsGroup] OFF
/****** Object:  Table [dbo].[EmpNonCashBenefits]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmpNonCashBenefits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmpNonCashBenefits](
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Benefit] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Rate] [money] NOT NULL,
 CONSTRAINT [PK_NonCashBenefits] PRIMARY KEY CLUSTERED 
(
	[EmpNo] ASC,
	[Benefit] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Employer]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employer]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Address1] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Address2] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Telphone] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PIN] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Logo] [nvarchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NHIF] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NSSF] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BankBranchSortCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccountNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuthorizedSignatory] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Employer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[EmployeeTransactions]    Script Date: 04/16/2013 20:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeTransactions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[EmployeeTransactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PostDate] [datetime] NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ItemId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Amount] [money] NOT NULL,
	[Recurrent] [bit] NOT NULL,
	[Processed] [bit] NULL,
	[Enabled] [bit] NOT NULL,
	[TrackYTD] [bit] NULL,
	[ShowYTDInPayslip] [bit] NULL,
	[Balance] [money] NULL,
	[InitialAmount] [money] NULL,
	[CreatedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastChangedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LastChangeDate] [datetime] NULL,
	[AuthorizedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AuthorizeDate] [datetime] NULL,
	[LoanType] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[AccumulativePayment] [money] NULL,
 CONSTRAINT [PK_EmployeeTransactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[EmployeeTransactions]') AND name = N'IX_EmployeeTransactions')
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeTransactions] ON [dbo].[EmployeeTransactions] 
(
	[EmpNo] ASC,
	[ItemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
GO
/****** Object:  Table [dbo].[Employee_Ext_Fields]    Script Date: 04/16/2013 20:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee_Ext_Fields]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee_Ext_Fields](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Employee_Ext_Fields] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Employee_Ext]    Script Date: 04/16/2013 20:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee_Ext]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee_Ext](
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ExFieldName] [int] NOT NULL,
	[ExFieldStr] [varchar](250) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ExFieldInt] [int] NULL,
	[ExFieldDate] [datetime] NULL,
	[ExFieldDecimal] [numeric](18, 0) NULL,
 CONSTRAINT [PK_Employee_Ext] PRIMARY KEY CLUSTERED 
(
	[EmpNo] ASC,
	[ExFieldName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 04/16/2013 20:05:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Employee]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Employee](
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Surname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[OtherNames] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DoB] [smalldatetime] NULL,
	[MaritalStatus] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Gender] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Photo] [nvarchar](900) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DoE] [datetime] NULL,
	[BasicComputation] [nchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BasicPay] [money] NULL,
	[PersonalRelief] [money] NULL,
	[MortgageRelief] [money] NULL,
	[NSSFNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[NHIFNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IDNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PINNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Department] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Employer] [int] NOT NULL,
	[PayPoint] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmpGroup] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[EmpPayroll] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PrevEmployer] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[DateLeft] [datetime] NULL,
	[PaymentMode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TelephoneNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ChequeNo] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BankCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BankAccount] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[LeaveBalance] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsActive] [bit] NULL,
	[CreatedBy] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CreatedOn] [datetime] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmpNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04/16/2013 20:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Departments](
	[Code] [varchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Benefits]    Script Date: 04/16/2013 20:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Benefits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Benefits](
	[BenefitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Rate] [money] NULL,
 CONSTRAINT [PK_Benefits] PRIMARY KEY CLUSTERED 
(
	[BenefitId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[Banks]    Script Date: 04/16/2013 20:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Banks]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Banks](
	[BankCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BankName] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_Banks] PRIMARY KEY CLUSTERED 
(
	[BankCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Banks] ([BankCode], [BankName]) VALUES (N'01', N'Kenya Commercial Bank Limited')
INSERT [dbo].[Banks] ([BankCode], [BankName]) VALUES (N'02', N'Standard Chartered Bank')
INSERT [dbo].[Banks] ([BankCode], [BankName]) VALUES (N'03', N'Barclays Bank of Kenya Limited')
/****** Object:  Table [dbo].[Payrolls]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Payrolls]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Payrolls](
	[Period] [int] NOT NULL,
	[Year] [int] NOT NULL,
	[Employer] [int] NULL,
	[DateRun] [datetime] NULL,
	[RunBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Approved] [bit] NULL,
	[ApprovedBy] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsOpen] [bit] NOT NULL,
	[Processed] [bit] NOT NULL,
 CONSTRAINT [PK_Payrolls_1] PRIMARY KEY CLUSTERED 
(
	[Period] ASC,
	[Year] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[PayrollItemType]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayrollItemType]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayrollItemType](
	[PayrollItemTypeId] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Parent] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_PayrollItemType] PRIMARY KEY CLUSTERED 
(
	[PayrollItemTypeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[PayrollItemType] ([PayrollItemTypeId], [Parent], [Description]) VALUES (N'ADDITION  ', N'ADDITION  ', N'Addition')
INSERT [dbo].[PayrollItemType] ([PayrollItemTypeId], [Parent], [Description]) VALUES (N'BENEFIT   ', N'ADDITION  ', N'Non Cash Benefits')
INSERT [dbo].[PayrollItemType] ([PayrollItemTypeId], [Parent], [Description]) VALUES (N'DEDUCTION ', N'DEDUCTION ', N'Deduction')
/****** Object:  Table [dbo].[PayrollItems]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayrollItems]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayrollItems](
	[ItemId] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[ItemType] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[TaxTracking] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PayableTo] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GLAccount] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Active] [bit] NULL,
	[AddToPension] [bit] NULL,
	[DefaultItem] [bit] NULL,
	[Enable] [bit] NULL,
	[ReFField] [int] NULL,
 CONSTRAINT [PK_PayrollItems] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[PayrollItems] ([ItemId], [ItemType], [TaxTracking], [PayableTo], [GLAccount], [Active], [AddToPension], [DefaultItem], [Enable], [ReFField]) VALUES (N'ADVANCE', N'DEDUCTION ', N'COLLECTION', N'EMPLOYER', N'25684', 1, 0, 1, NULL, 444444)
INSERT [dbo].[PayrollItems] ([ItemId], [ItemType], [TaxTracking], [PayableTo], [GLAccount], [Active], [AddToPension], [DefaultItem], [Enable], [ReFField]) VALUES (N'BASIC          ', N'SALARY    ', N'EARNING             ', N'EMPLOYEE  ', N'32568', 1, 1, 1, NULL, NULL)
INSERT [dbo].[PayrollItems] ([ItemId], [ItemType], [TaxTracking], [PayableTo], [GLAccount], [Active], [AddToPension], [DefaultItem], [Enable], [ReFField]) VALUES (N'HRLYPAY', N'HRLYPAY   ', N'EARNING   ', N'EMPLOYEE', N'52148', 1, 0, 1, NULL, 32659)
/****** Object:  Table [dbo].[BankBranch]    Script Date: 04/16/2013 20:05:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BankBranch]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[BankBranch](
	[BankSortCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BranchCode] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Bank] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[BranchName] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_BankBranch] PRIMARY KEY CLUSTERED 
(
	[BankSortCode] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[BankBranch] ([BankSortCode], [BranchCode], [Bank], [BranchName]) VALUES (N'01091', N'091', N'01', N'Eastleigh')
INSERT [dbo].[BankBranch] ([BankSortCode], [BranchCode], [Bank], [BranchName]) VALUES (N'01092', N'092', N'01', N'CPC')
INSERT [dbo].[BankBranch] ([BankSortCode], [BranchCode], [Bank], [BranchName]) VALUES (N'01094', N'094', N'01', N'Head Office')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
/****** Object:  Table [dbo].[Settings]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Settings]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Settings](
	[SSKey] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SSValue] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SSValueType] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SGroup] [int] NOT NULL,
	[SSSystem] [bit] NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[SSKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[Settings] ([SSKey], [SSValue], [SSValueType], [Description], [SGroup], [SSSystem]) VALUES (N'DEFCONTR', N'20000', N'N', N'Max Defined Contribution', 6, 0)
INSERT [dbo].[Settings] ([SSKey], [SSValue], [SSValueType], [Description], [SGroup], [SSSystem]) VALUES (N'DEFCONTRSCHEME', N'2', N'E1,2,3', N'Default contribution scheme', 6, 0)
INSERT [dbo].[Settings] ([SSKey], [SSValue], [SSValueType], [Description], [SGroup], [SSSystem]) VALUES (N'EMPNSSF', N'200', N'N', N'Employers NSFF contribution', 4, 1)
/****** Object:  Table [dbo].[PayslipDet]    Script Date: 04/16/2013 20:05:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PayslipDet]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PayslipDet](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpNo] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[EmpTxnId] [int] NOT NULL,
	[Period] [int] NOT NULL,
	[Year] [int] NULL,
	[Description] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[TaxTracking] [nchar](10) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Amount] [decimal](18, 0) NOT NULL,
	[DEType] [nvarchar](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[IsStatutory] [bit] NOT NULL,
	[ShowInPayslip] [bit] NULL,
	[YTD] [decimal](18, 0) NULL,
 CONSTRAINT [PK_PayslipDet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  StoredProcedure [dbo].[CopyPayMaster]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPayMaster]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CopyPayMaster]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
AS
	/* SET NOCOUNT ON */
INSERT INTO PayslipMaster
                         (Period, Year, EmpNo, PaymentDate, PrintedBy, PrintedOn, EmpName, PayPoint, PIN, EmpGroup, EmpPayroll, CompName, CompAddr, CompTel, PayeTax, BasicPay, 
                         Benefits, Variables, OtherDeductions, GrossTaxableEarnings, NetTaxableEarnings, MortgageRelief, GrossTax, PersonalRelief, PensionEmployer, EmployerNSSF, 
                         PensionEmployee, BankBranch, Account, NSSF, NHIF, NetPay, Department, NSSFNo, NHIFNo)
SELECT        Period, Year, EmpNo, PaymentDate, PrintedBy, PrintedOn, EmpName, PayPoint, PIN, EmpGroup, EmpPayroll, CompName, CompAddr, CompTel, PayeTax, BasicPay, 
                         Benefits, Variables, OtherDeductions, GrossTaxableEarnings, NetTaxableEarnings, MortgageRelief, GrossTax, PersonalRelief, PensionEmployer, EmployerNSSF, 
                         PensionEmployee, BankBranch, Account, NSSF, NHIF, NetPay, Department, NSSFNo, NHIFNo
FROM            PayslipMaster_Temp
SELECT        Period, [Year], EmpNo, PaymentDate, PrintedBy, PrintedOn, EmpName, PayPoint, PIN, EmpGroup, EmpPayroll, CompName, CompAddr, CompTel, PayeTax, BasicPay, 
                         Benefits, Variables, OtherDeductions, GrossTaxableEarnings, NetTaxableEarnings, MortgageRelief, GrossTax, PersonalRelief, PensionEmployer, EmployerNSSF, 
                         PensionEmployee, BankBranch, Account, NSSF, NHIF, NetPay, Department, NSSFNo, NHIFNo
FROM            PayslipMaster_Temp
	RETURN
' 
END
GO
/****** Object:  View [dbo].[vwPayslipDet_Temp]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayslipDet_Temp]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vwPayslipDet_Temp]
AS
SELECT     dbo.Employee.EmpNo, dbo.Employee.Surname, dbo.Employee.OtherNames, dbo.EmployeeTransactions.ItemId, dbo.EmployeeTransactions.Balance, 
                      CAST(CAST(dbo.PayslipDet_Temp.Year AS varchar) + ''-'' + CAST(dbo.PayslipDet_Temp.Period AS varchar) + ''-'' + CAST(1 AS varchar) AS DATETIME) AS TxnDate, 
                      dbo.PayrollItems.ReFField, dbo.EmployeeTransactions.Amount AS RepayAmount, dbo.EmployeeTransactions.PostDate, dbo.EmployeeTransactions.InitialAmount, 
                      dbo.EmployeeTransactions.LoanType, dbo.Employee.Employer, dbo.Employee.BankAccount, dbo.Employee.BankCode, dbo.Employee.PaymentMode, 
                      dbo.PayrollItems.ItemType, dbo.PayrollItemType.Parent, dbo.PayslipDet_Temp.EmpTxnId, dbo.PayslipDet_Temp.Period, dbo.PayslipDet_Temp.Year, 
                      dbo.PayslipDet_Temp.Description, dbo.PayslipDet_Temp.TaxTracking, dbo.PayslipDet_Temp.Amount, dbo.PayslipDet_Temp.DEType, 
                      dbo.PayslipDet_Temp.IsStatutory, dbo.PayslipDet_Temp.ShowInPayslip, dbo.PayslipDet_Temp.YTD
FROM         dbo.Employee INNER JOIN
                      dbo.EmployeeTransactions ON dbo.Employee.EmpNo = dbo.EmployeeTransactions.EmpNo INNER JOIN
                      dbo.PayrollItems ON dbo.EmployeeTransactions.ItemId = dbo.PayrollItems.ItemId INNER JOIN
                      dbo.PayrollItemType ON dbo.PayrollItems.ItemType = dbo.PayrollItemType.PayrollItemTypeId INNER JOIN
                      dbo.PayslipDet_Temp ON dbo.EmployeeTransactions.Id = dbo.PayslipDet_Temp.EmpTxnId
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayslipDet_Temp', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[21] 4[29] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employee"
            Begin Extent = 
               Top = 11
               Left = 14
               Bottom = 119
               Right = 179
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmployeeTransactions"
            Begin Extent = 
               Top = 9
               Left = 267
               Bottom = 117
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayrollItems"
            Begin Extent = 
               Top = 32
               Left = 526
               Bottom = 140
               Right = 677
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayrollItemType"
            Begin Extent = 
               Top = 126
               Left = 269
               Bottom = 219
               Right = 437
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayslipDet_Temp"
            Begin Extent = 
               Top = 126
               Left = 68
               Bottom = 234
               Right = 219
            End
            DisplayFlags = 280
            TopColumn = 8
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 28
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayslipDet_Temp'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayslipDet_Temp', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayslipDet_Temp'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayslipDet_Temp', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayslipDet_Temp'
GO
/****** Object:  View [dbo].[vwPayslipDet]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayslipDet]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vwPayslipDet]
AS
SELECT     dbo.EmployeeTransactions.Id, dbo.Employee.EmpNo, dbo.Employee.Surname, dbo.Employee.OtherNames, dbo.EmployeeTransactions.ItemId, 
                      dbo.EmployeeTransactions.Balance, dbo.PayrollItems.ReFField, dbo.EmployeeTransactions.Amount AS RepayAmount, dbo.PayslipDet.Period, dbo.PayslipDet.Year, 
                      CAST(CAST(dbo.PayslipDet.Year AS varchar) + ''-'' + CAST(dbo.PayslipDet.Period AS varchar) + ''-'' + CAST(1 AS varchar) AS DATETIME) AS TxnDate, 
                      dbo.EmployeeTransactions.PostDate, dbo.PayslipDet.Description, dbo.PayslipDet.YTD, dbo.EmployeeTransactions.InitialAmount, 
                      dbo.EmployeeTransactions.LoanType, dbo.Employee.Employer, dbo.Employee.BankAccount, dbo.Employee.BankCode, dbo.Employee.PaymentMode, 
                      dbo.PayrollItems.ItemType, dbo.PayslipDet.DEType, dbo.PayslipDet.EmpTxnId, dbo.PayslipDet.TaxTracking, dbo.PayslipDet.ShowInPayslip, 
                      dbo.PayslipDet.IsStatutory, dbo.PayslipDet.Amount, dbo.PayrollItemType.Parent
FROM         dbo.Employee INNER JOIN
                      dbo.EmployeeTransactions ON dbo.Employee.EmpNo = dbo.EmployeeTransactions.EmpNo INNER JOIN
                      dbo.PayrollItems ON dbo.EmployeeTransactions.ItemId = dbo.PayrollItems.ItemId INNER JOIN
                      dbo.PayslipDet ON dbo.EmployeeTransactions.Id = dbo.PayslipDet.EmpTxnId INNER JOIN
                      dbo.PayrollItemType ON dbo.PayrollItems.ItemType = dbo.PayrollItemType.PayrollItemTypeId
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayslipDet', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[44] 4[7] 2[45] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[47] 4[21] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employee"
            Begin Extent = 
               Top = 5
               Left = 11
               Bottom = 214
               Right = 135
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmployeeTransactions"
            Begin Extent = 
               Top = 6
               Left = 177
               Bottom = 272
               Right = 355
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayrollItems"
            Begin Extent = 
               Top = 31
               Left = 579
               Bottom = 265
               Right = 762
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayslipDet"
            Begin Extent = 
               Top = 0
               Left = 407
               Bottom = 231
               Right = 558
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayrollItemType"
            Begin Extent = 
               Top = 119
               Left = 808
               Bottom = 212
               Right = 972
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 28
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Wi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayslipDet'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayslipDet', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'dth = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 9900
         Alias = 1170
         Table = 4380
         Output = 1215
         Append = 1400
         NewValue = 1170
         SortType = 690
         SortOrder = 585
         GroupBy = 1350
         Filter = 735
         Or = 705
         Or = 570
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayslipDet'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayslipDet', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayslipDet'
GO
/****** Object:  View [dbo].[vwPayrollMaster_Temp]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayrollMaster_Temp]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vwPayrollMaster_Temp]
AS
SELECT     dbo.Banks.BankName, dbo.BankBranch.BranchName, dbo.Employee.Surname, dbo.Employee.OtherNames, dbo.BankBranch.BranchCode, 
                      dbo.BankBranch.BankSortCode, dbo.Employee.PaymentMode, dbo.Employer.BankBranchSortCode, dbo.Employee.BankAccount, dbo.Employee.IDNo, 
                      dbo.Banks.BankCode, dbo.PayslipMaster_Temp.Period, dbo.PayslipMaster_Temp.Year, dbo.PayslipMaster_Temp.PaymentDate, dbo.PayslipMaster_Temp.PrintedBy, 
                      dbo.PayslipMaster_Temp.PrintedOn, dbo.PayslipMaster_Temp.EmpName, dbo.PayslipMaster_Temp.PayPoint, dbo.PayslipMaster_Temp.PIN, 
                      dbo.PayslipMaster_Temp.NHIFNo, dbo.PayslipMaster_Temp.Department, dbo.PayslipMaster_Temp.NSSFNo, dbo.PayslipMaster_Temp.EmpGroup, 
                      dbo.PayslipMaster_Temp.EmpPayroll, dbo.PayslipMaster_Temp.CompName, dbo.PayslipMaster_Temp.CompAddr, dbo.PayslipMaster_Temp.CompTel, 
                      dbo.PayslipMaster_Temp.PayeTax, dbo.PayslipMaster_Temp.BasicPay, dbo.PayslipMaster_Temp.Benefits, dbo.PayslipMaster_Temp.OtherDeductions, 
                      dbo.PayslipMaster_Temp.GrossTaxableEarnings, dbo.PayslipMaster_Temp.NetTaxableEarnings, dbo.PayslipMaster_Temp.GrossTax, 
                      dbo.PayslipMaster_Temp.EmployerNSSF, dbo.PayslipMaster_Temp.PensionEmployee, dbo.PayslipMaster_Temp.BankBranch, dbo.PayslipMaster_Temp.Account, 
                      dbo.PayslipMaster_Temp.NSSF, dbo.PayslipMaster_Temp.NHIF, dbo.PayslipMaster_Temp.NetPay, dbo.Employee.EmpNo, dbo.PayslipMaster_Temp.Variables, 
                      dbo.PayslipMaster_Temp.MortgageRelief, dbo.PayslipMaster_Temp.PersonalRelief, dbo.PayslipMaster_Temp.PensionEmployer
FROM         dbo.Employee INNER JOIN
                      dbo.PayslipMaster_Temp ON dbo.Employee.EmpNo = dbo.PayslipMaster_Temp.EmpNo LEFT OUTER JOIN
                      dbo.Banks INNER JOIN
                      dbo.BankBranch ON dbo.Banks.BankCode = dbo.BankBranch.Bank ON dbo.Employee.BankCode = dbo.BankBranch.BankSortCode CROSS JOIN
                      dbo.Employer
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayrollMaster_Temp', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[45] 4[30] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1[53] 4) )"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4[60] 2) )"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4) )"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 8
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Employee"
            Begin Extent = 
               Top = 0
               Left = 187
               Bottom = 108
               Right = 352
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayslipMaster_Temp"
            Begin Extent = 
               Top = 110
               Left = 170
               Bottom = 218
               Right = 356
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Banks"
            Begin Extent = 
               Top = 6
               Left = 465
               Bottom = 84
               Right = 616
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BankBranch"
            Begin Extent = 
               Top = 6
               Left = 654
               Bottom = 114
               Right = 805
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Employer"
            Begin Extent = 
               Top = 99
               Left = 499
               Bottom = 207
               Right = 680
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      PaneHidden = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 45
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayrollMaster_Temp'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayrollMaster_Temp', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'       Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 1515
         Table = 2130
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayrollMaster_Temp'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayrollMaster_Temp', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayrollMaster_Temp'
GO
/****** Object:  View [dbo].[vwPayrollMaster]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwPayrollMaster]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vwPayrollMaster]
AS
SELECT     dbo.Banks.BankName, dbo.BankBranch.BranchName, dbo.Employee.EmpNo, dbo.Employee.Surname, dbo.Employee.OtherNames, dbo.PayslipMaster.NetPay, 
                      dbo.PayslipMaster.GrossTaxableEarnings, dbo.PayslipMaster.BasicPay, dbo.PayslipMaster.NHIF, dbo.PayslipMaster.NSSF, dbo.PayslipMaster.PayeTax, 
                      dbo.PayslipMaster.OtherDeductions, dbo.PayslipMaster.PensionEmployee, dbo.PayslipMaster.Period, dbo.PayslipMaster.Year, dbo.PayslipMaster.Benefits, 
                      dbo.PayslipMaster.EmployerNSSF, dbo.PayslipMaster.EmpName, dbo.PayslipMaster.CompName, dbo.PayslipMaster.NetTaxableEarnings, 
                      dbo.PayslipMaster.PrintedOn, dbo.PayslipMaster.BankBranch, dbo.PayslipMaster.Account, dbo.PayslipMaster.GrossTax, dbo.PayslipMaster.CompTel, 
                      dbo.PayslipMaster.CompAddr, dbo.PayslipMaster.PIN, dbo.BankBranch.BranchCode, dbo.BankBranch.BankSortCode, dbo.Employee.PaymentMode, 
                      dbo.Employer.BankBranchSortCode, dbo.PayslipMaster.NHIFNo, dbo.PayslipMaster.NSSFNo, dbo.PayslipMaster.PayPoint, dbo.PayslipMaster.PrintedBy, 
                      dbo.PayslipMaster.PaymentDate, dbo.Employee.BankAccount, dbo.PayslipMaster.EmpGroup, dbo.PayslipMaster.EmpPayroll, dbo.PayslipMaster.Department, 
                      dbo.Employee.IDNo, dbo.Banks.BankCode, dbo.PayslipMaster.Variables, dbo.PayslipMaster.MortgageRelief, dbo.PayslipMaster.PersonalRelief, 
                      dbo.PayslipMaster.PensionEmployer
FROM         dbo.PayslipMaster INNER JOIN
                      dbo.Employee ON dbo.PayslipMaster.EmpNo = dbo.Employee.EmpNo LEFT OUTER JOIN
                      dbo.Banks INNER JOIN
                      dbo.BankBranch ON dbo.Banks.BankCode = dbo.BankBranch.Bank ON dbo.Employee.BankCode = dbo.BankBranch.BankSortCode CROSS JOIN
                      dbo.Employer
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayrollMaster', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[4] 2[39] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1[50] 2[25] 3) )"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1[56] 3) )"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2[66] 3) )"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4[50] 3) )"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 4
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -96
         Left = -96
      End
      Begin Tables = 
         Begin Table = "PayslipMaster"
            Begin Extent = 
               Top = 6
               Left = 617
               Bottom = 266
               Right = 803
            End
            DisplayFlags = 280
            TopColumn = 21
         End
         Begin Table = "Employee"
            Begin Extent = 
               Top = 4
               Left = 422
               Bottom = 215
               Right = 575
            End
            DisplayFlags = 280
            TopColumn = 9
         End
         Begin Table = "Banks"
            Begin Extent = 
               Top = 21
               Left = 14
               Bottom = 117
               Right = 165
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "BankBranch"
            Begin Extent = 
               Top = 21
               Left = 199
               Bottom = 154
               Right = 360
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Employer"
            Begin Extent = 
               Top = 0
               Left = 820
               Bottom = 108
               Right = 1001
            End
            DisplayFlags = 280
            TopColumn = 10
         End
      End
   End
   Begin SQLPane = 
      PaneHidden = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 40
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
       ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayrollMaster'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayrollMaster', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'  Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      PaneHidden = 
      Begin ColumnWidths = 11
         Column = 3525
         Alias = 1845
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayrollMaster'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vwPayrollMaster', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwPayrollMaster'
GO
/****** Object:  View [dbo].[vwBankBranches]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[vwBankBranches]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[vwBankBranches]
AS
SELECT     dbo.Banks.BankName + '' - '' + dbo.BankBranch.BranchName AS BankBranchName, dbo.BankBranch.BankSortCode, dbo.Banks.BankName, dbo.BankBranch.Bank, 
                      dbo.BankBranch.BranchCode, dbo.BankBranch.BranchName, dbo.Banks.BankCode
FROM         dbo.BankBranch INNER JOIN
                      dbo.Banks ON dbo.BankBranch.Bank = dbo.Banks.BankCode
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'vwBankBranches', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[37] 4[4] 2[25] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "BankBranch"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 181
               Right = 189
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Banks"
            Begin Extent = 
               Top = 6
               Left = 227
               Bottom = 169
               Right = 378
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 4995
         Width = 2535
         Width = 2415
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwBankBranches'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'vwBankBranches', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwBankBranches'
GO
/****** Object:  View [dbo].[GetEmpTransactions]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[dbo].[GetEmpTransactions]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [dbo].[GetEmpTransactions]
AS
SELECT     dbo.Employee.EmpNo, dbo.Employee.Surname, dbo.Employee.MaritalStatus, dbo.Employee.IsActive, dbo.EmployeeTransactions.ItemId, 
                      dbo.EmployeeTransactions.Amount, dbo.EmployeeTransactions.Recurrent, dbo.EmployeeTransactions.Enabled, dbo.Employee.BasicPay, 
                      dbo.Departments.Description AS Department, dbo.Departments.Code AS DeptCode, dbo.EmployeeTransactions.TrackYTD AS EmpTrack, 
                      dbo.EmployeeTransactions.Balance, dbo.PayrollItems.ItemType, dbo.PayrollItems.TaxTracking, dbo.PayrollItems.Active, dbo.PayrollItems.AddToPension, 
                      dbo.EmployeeTransactions.ShowYTDInPayslip, dbo.EmployeeTransactions.Id AS EmpTxnId, dbo.EmployeeTransactions.Processed, 
                      dbo.PayrollItemType.Parent
FROM         dbo.Employee INNER JOIN
                      dbo.EmployeeTransactions ON dbo.Employee.EmpNo = dbo.EmployeeTransactions.EmpNo INNER JOIN
                      dbo.Departments ON dbo.Employee.Department = dbo.Departments.Code INNER JOIN
                      dbo.PayrollItems ON dbo.EmployeeTransactions.ItemId = dbo.PayrollItems.ItemId INNER JOIN
                      dbo.PayrollItemType ON dbo.PayrollItems.ItemType = dbo.PayrollItemType.PayrollItemTypeId
'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane1' , N'SCHEMA',N'dbo', N'VIEW',N'GetEmpTransactions', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[39] 4[18] 2[19] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[40] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = -96
         Left = -288
      End
      Begin Tables = 
         Begin Table = "Employee"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 172
               Right = 191
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EmployeeTransactions"
            Begin Extent = 
               Top = 6
               Left = 229
               Bottom = 224
               Right = 397
            End
            DisplayFlags = 280
            TopColumn = 8
         End
         Begin Table = "Departments"
            Begin Extent = 
               Top = 0
               Left = 404
               Bottom = 78
               Right = 555
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "PayrollItems"
            Begin Extent = 
               Top = 53
               Left = 409
               Bottom = 194
               Right = 560
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "PayrollItemType"
            Begin Extent = 
               Top = 43
               Left = 584
               Bottom = 136
               Right = 748
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
  ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetEmpTransactions'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPane2' , N'SCHEMA',N'dbo', N'VIEW',N'GetEmpTransactions', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'       Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetEmpTransactions'
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_DiagramPaneCount' , N'SCHEMA',N'dbo', N'VIEW',N'GetEmpTransactions', NULL,NULL))
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'GetEmpTransactions'
GO
/****** Object:  StoredProcedure [dbo].[CopyPayslipDet]    Script Date: 04/16/2013 20:05:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CopyPayslipDet]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[CopyPayslipDet]
	
		/*(

	@Period int,
	@Year int
	
	)
	*/
AS
	/* SET NOCOUNT ON */
INSERT INTO PayslipDet
                         (EmpTxnId, EmpNo, Period, Year, Description, TaxTracking, Amount, DEType, IsStatutory, ShowInPayslip, YTD)
SELECT        EmpTxnId, EmpNo, Period, Year, Description, TaxTracking, Amount, DEType, IsStatutory, ShowInPayslip, YTD
FROM            PayslipDet_Temp


/*Update YTD for items that are tracked*/
UPDATE       EmployeeTransactions
SET                Balance = PayslipDet_Temp.Amount + EmployeeTransactions.Balance
FROM            EmployeeTransactions INNER JOIN
                         PayslipDet_Temp ON EmployeeTransactions.Id = PayslipDet_Temp.EmpTxnId
WHERE        (EmployeeTransactions.TrackYTD = 1)

/*Update processed flag for items that are not recurrent so that they are not 
processed again*/
UPDATE    EmployeeTransactions
SET       Processed = 1
WHERE     (Recurrent = 0)
	RETURN
' 
END
GO
/****** Object:  ForeignKey [FK_BankBranch_Banks]    Script Date: 04/16/2013 20:05:47 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BankBranch_Banks]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankBranch]'))
ALTER TABLE [dbo].[BankBranch]  WITH CHECK ADD  CONSTRAINT [FK_BankBranch_Banks] FOREIGN KEY([Bank])
REFERENCES [dbo].[Banks] ([BankCode])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_BankBranch_Banks]') AND parent_object_id = OBJECT_ID(N'[dbo].[BankBranch]'))
ALTER TABLE [dbo].[BankBranch] CHECK CONSTRAINT [FK_BankBranch_Banks]
GO
/****** Object:  ForeignKey [FK_PayrollItems_PayrollItemType]    Script Date: 04/16/2013 20:05:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PayrollItems_PayrollItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PayrollItems]'))
ALTER TABLE [dbo].[PayrollItems]  WITH CHECK ADD  CONSTRAINT [FK_PayrollItems_PayrollItemType] FOREIGN KEY([ItemType])
REFERENCES [dbo].[PayrollItemType] ([PayrollItemTypeId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PayrollItems_PayrollItemType]') AND parent_object_id = OBJECT_ID(N'[dbo].[PayrollItems]'))
ALTER TABLE [dbo].[PayrollItems] CHECK CONSTRAINT [FK_PayrollItems_PayrollItemType]
GO
/****** Object:  ForeignKey [FK_PayslipDet_TaxTracking]    Script Date: 04/16/2013 20:05:50 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PayslipDet_TaxTracking]') AND parent_object_id = OBJECT_ID(N'[dbo].[PayslipDet]'))
ALTER TABLE [dbo].[PayslipDet]  WITH CHECK ADD  CONSTRAINT [FK_PayslipDet_TaxTracking] FOREIGN KEY([TaxTracking])
REFERENCES [dbo].[TaxTracking] ([TaxTrackingId])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PayslipDet_TaxTracking]') AND parent_object_id = OBJECT_ID(N'[dbo].[PayslipDet]'))
ALTER TABLE [dbo].[PayslipDet] CHECK CONSTRAINT [FK_PayslipDet_TaxTracking]
GO
/****** Object:  ForeignKey [FK_Settings_SettingsGroup]    Script Date: 04/16/2013 20:05:51 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Settings_SettingsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[Settings]'))
ALTER TABLE [dbo].[Settings]  WITH CHECK ADD  CONSTRAINT [FK_Settings_SettingsGroup] FOREIGN KEY([SGroup])
REFERENCES [dbo].[SettingsGroup] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Settings_SettingsGroup]') AND parent_object_id = OBJECT_ID(N'[dbo].[Settings]'))
ALTER TABLE [dbo].[Settings] CHECK CONSTRAINT [FK_Settings_SettingsGroup]
GO
